APP_ENV=development
APP_PORT=8080

COGNITO_REGION=ap-south-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_DOMAIN=

API_GATEWAY_BASE_URL=https://soemthing.execute-api.region.amazonaws.com/dev